<table class="table table-hover">
        <thead>
        <tr>
            <!--<th></th>-->
            <th {{action 'sortBy' 'timestamp'}} {{bind-attr class=":due-date :noselect :pointer time sort"}}>Due Date</th>
            <th>Time</th>
            <th {{action 'sortBy' 'assignment_name' }} {{bind-attr class=":due-date :noselect :pointer name sort"}}>Category</th>
            <th class="description noselect">Description </th>
        </tr>
        </thead>
        <tbody>
            {{#each assignment in sorted.arrangedContent}}
                {{#unless assignment.archived}}
                    <tr>
                        <td  class="fa fa-edit" {{action 'click' 'dashboard.course.assignment.edit' assignment.course_id.id assignment.id }}>
                            <span class="hidden"> {{assignment.timestamp}} </span>
                            {{assignment.dueDate}}
                        </td>
                        <td {{action 'click' 'dashboard.course.assignment.edit' assignment.course_id.id assignment.id }}>
                            {{#if assignment.time_visible}}
                                {{assignment.due_time}}
                            {{else}}
                                -------------
                            {{/if}}
                        </td>
                        <td {{action 'click' 'dashboard.course.assignment.edit' assignment.course_id.id assignment.id}}>
                            {{assignment.assignment_name}}
                        </td>
                        <td{{action 'click' 'dashboard.course.assignment.edit' assignment.course_id.id assignment.id}}>
                            {{description-text assignment.description}}
                        </td>

                    </tr>
                {{/unless}}
            {{/each}}
        </tbody>
    </table>
