<table class="table table-hover assignment-list">
    <thead>
    <tr>
        <!--<th></th>-->
        <th class="date noselect pointer {{timestamp}} {{sortDirection}}" {{action 'sortBy' 'timestamp'}} >Due Date</th>
        <th class="time">Time</th>
        <th class="category noselect pointer {{assignment_name}} {{sortDirection}}" {{action 'sortBy' 'assignment_name' }}>Category</th>
        <th class="description noselect">Description </th>
        <th class="edit noselect">Edit </th>
        <th class="bulk noselect">
            {{#if selectionMade}}
                <button class="btn {{bulkButtonBackground}}" {{action 'bulkAction'}}>
                    {{bulkButton}}
                </button>
            {{else}}
                <button class="btn disabled">
                    {{bulkButton}}
                </button>
            {{/if}}
        </th>

    </tr>
    </thead>
    <tbody class="no-select">
        {{#each assignmentsSorted as |assignment|}}
            <tr>
                <td {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id }}>
                    {{assignment.dueDate}}
                </td>
                <td {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id }}>
                    {{#if assignment.time_visible}}
                        {{assignment.due_time}}
                    {{else}}
                        -------------
                    {{/if}}
                </td>
                <td {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id}}>
                    {{assignment.assignment_name}}
                </td>
                <td {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id}}>
                    {{description-text assignment.description}}
                </td>
                <td class="fa fa-edit" {{action 'click' 'courses.course.assignment.preview' assignment.course_id.id assignment.id}}>
                </td>
                <td class="bulk">
                    <span{{action 'select' assignment}}>
                        {{#if assignment.selected}}
                            <i class="fa fa-check-square-o"></i>
                        {{else}}
                            <i class="fa fa-square-o text-muted"></i>
                        {{/if}}
                    </span>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
