<table class="table table-hover">
    <thead>
    <tr>
        <!--<th></th>-->
        <th class="date noselect pointer {{time}} {{sort}}" {{action 'sortBy' 'timestamp'}} >Due Date</th>
        <th class="time">Time</th>
        <th class="category noselect pointer {{name}} {{sort}}" {{action 'sortBy' 'assignment_name' }}>Category</th>
        <th class="description noselect">Description </th>
        <th class="edit noselect">Edit </th>
        <th class="bulk noselect">
            {{#if selectionMade}}
                <button class="btn btn-danger" {{action 'bulkDelete'}}>
                    Delete
                </button>
            {{else}}
                <button class="btn disabled">
                    Delete
                </button>
            {{/if}}
        </th>

    </tr>
    </thead>
    <tbody class="no-select">
        {{#each sorted.arrangedContent as |assignment|}}
            {{#if assignment.currentAssignment}}
                <tr>
                    <td  class="date" {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id }}>
                        <span class="hidden"> {{assignment.timestamp}} </span>
                        {{assignment.dueDate}}
                    </td>
                    <td class="time" {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id }}>
                        {{#if assignment.time_visible}}
                            {{assignment.due_time}}
                        {{else}}
                            -------------
                        {{/if}}
                    </td>
                    <td class="category" {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id}}>
                        {{assignment.assignment_name}}
                    </td>
                    <td class="description" {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id}}>
                        {{description-text assignment.description}}
                    </td>
                    <td class="fa fa-edit edit" {{action 'click' 'courses.course.assignment.edit' assignment.course_id.id assignment.id}}>

                    </td>
                    <td class="bulk">
                        <span{{action 'select' assignment}}>
                            {{#if assignment.selected}}
                                <i class="fa fa-check-square-o"></i>
                            {{else}}
                                <i class="fa fa-square-o text-muted"></i>
                            {{/if}}
                        </span>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
    </tbody>
</table>
