<div class="modal-header">
    <button type="button" {{action 'close'}} class="close">×</button>
    <h4 class="modal-title">{{selection}} {{headingSeparator}} <strong>{{due_date_human_readable}}</strong></h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="col-md-5">
            <div class="form-group">
                {{bootstrap-datepicker-inline value=due_date_raw daysOfWeekDisabled="0,6" startDate=due_date_raw}}

            </div>
        </div>
        <div class="col-md-7">
            {{#if edit}}
                {{
                    input type="text"
                    value=assignment_name
                    maxlength="20"
                    class="pull-left form-control"
                    placeholder="Category"
                }}
            {{else}}
                {{type-dropdown selection=selection}}
            {{/if}}
            {{textarea id="description" value=description maxlength="250" class="pull-left form-control" placeholder="Description" }}

        </div>
    </div>
</div>
<div class="modal-footer">

    <button class="btn btn-primary" type="button" {{action 'save'}} >Save</button>
    {{#if edit}}
        <button  class="btn btn-danger pull-left" type="button" {{action 'remove'}} >Delete</button>
    {{/if}}
</div>
