<div class="modal-header">
    <button type="button" {{action 'close'}} class="close">×</button>
    <h4 class="modal-title">{{assignment_name}} {{headingSeparator}} <strong>{{due_date_human_readable}}</strong> ({{course_name}})</h4>
</div>
<div class="modal-body">
    <div class="form-group assignment-modal">
        <div class="col-sm-5">
            <div class="form-group">
                {{bootstrap-datepicker-inline value=due_date_raw daysOfWeekDisabled="" startDate=due_date_raw }}
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-5">
                    {{type-dropdown selection=assignment_name}}
                </div>
                <div class="col-sm-4 timePicker">
                    {{#if timepickerEnabled}}
                        {{bootstrap-timepicker value=display_time}}
                    {{else}}
                        <button {{action 'toggleTime'}} class="btn btn-default" type="button">
                            Time <small>(optional)</small>
                        </button>
                    {{/if}}
                </div>
                <div class="col-sm-3">
                    {{switchery-checkbox checked=timepickerEnabled}}
                </div>
            </div>
            {{textarea id="assignmentDescription" value=description class="pull-left form-control" placeholder="Type homework here" }}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" {{action 'save'}} >Save</button>
    {{#if edit}}
        <button  class="btn btn-danger pull-left" type="button" {{action 'remove'}} >Delete</button>
    {{/if}}
</div>
