<li class="col-md-12 panel ui-state-default" {{bind-attr id=course.id}} xmlns="http://www.w3.org/1999/html"
    xmlns="http://www.w3.org/1999/html">
    <header class="panel-heading row">
        <div class="col-sm-4">
            <a {{action 'modal''dashboard.course.edit' course}}>
                {{course.course_name}}
            </a>
            <br/>
            <i data-original-title="This is the unique course code. Your students and parents need this code in order to join the course" class="fa fa-question-circle tooltips" data-toggle="tooltip" data-placement="bottom" ></i>
            {{course.course_code}} -
            <span class="student-count">{{course.totalSubscribers}} students</span>
        </div>
        <div class="col-sm-8 row">
            <button {{action 'modal''dashboard.course.assignment.new' course.id}} class="btn btn-primary col-md-4">
                <!--<i class="fa fa-plus"></i>--> Add Assignment
            </button>
        </div>

    </header>
    <div class="panel-body">
        <div class="col-xs-1"></div>
        {{assignment-list course=course action="modal"}}
    </div>
</li>
