<!-- Be sure to add the rl-dropdown-toggle class to your dropdown toggle element -->
{{input
    type="text" id="assignmentCategory"
    value=selection maxlength="12"
    class="rl-dropdown-toggle pull-left form-control"
    placeholder="Category" enter='select'
}}

<i class="rl-dropdown-toggle fa fa-sort-down dropdown-toggle" {{action "toggleDropdown"}}></i>
{{#if dropdownExpanded}}
    <!-- Be sure to add the rl-dropdown class to your dropdown element -->
    <div class="rl-dropdown">
        <ul class="dropdown-menu">
            {{#each options as |item|}}
                <li {{action 'select' item}}>
                    <a>
                        {{item}}
                    </a>
                </li>
            {{/each}}
            <li {{action 'select' ""}}><a>Custom <i class="fa fa-plus-circle"></i></a></li>
        </ul>
    </div>
{{/if}}
