<div class="col-md-7">
    <div class="welcome-progress">
        <div class="solid">
            {{{one}}}
        </div>
        <hr>
        <div class="{{{stage2}}}">
            {{{two}}}
        </div>
        <hr>
        <div class="{{{stage3}}}">
            {{{three}}}
        </div>
        <hr>
        <div class="{{{stage4}}}">
            {{{four}}}
        </div>
    </div>
</div>
