    {{#bootstrap-modal type="assignment"}}
    <div class="modal-header">
        <button type="button" {{action 'close'}} class="close">×</button>
        <h4 class="modal-title">{{model.assignment_name}} {{headingSeparator}} <strong>{{model.dueDay}}</strong> ({{model.course_id.course_name}})</h4>
    </div>
    <div class="modal-body">
        <div class="col-md-7">
            {{
                assignment-editor
                assignment_name=model.assignment_name
                description=model.description
                dueDateMoment=dueDateMoment
                display_time=model.display_time
                timepickerEnabled=model.time_visible
                dueDateMoment=model.dueDateMoment
                save="save"
                close="close"
                remove="remove"
            }}
        </div>
        <div class="col-md-5">
            {{assignment-preview
                course=model.course_id.course_name
                dueDateMoment=model.dueDateMoment
                dueTime=model.due_time
                timeVisible=model.time_visible
                category=model.assignment_name
                description=model.description
            }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="save btn btn-primary" type="button" {{action 'save'}} >Save</button>
        <button  class="delete btn btn-danger pull-left" type="button" {{action 'remove'}} >Delete</button>
    </div>
{{/bootstrap-modal}}