{{#bootstrap-modal type="add-course" class=class}}
    {{log "user" user}}
    <div class="modal-header">
        <button type="button" {{action 'close'}} class="close">×</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <p>
                What do you want to call it?
            </p>
            {{input type="text" enter="save" value=course_name maxlength="20" class="form-control focus"}}
            <p>
                Pick something short and memorable
            </p>
        </div>
    </div>
    <div class="modal-footer">
        {{#if completion}}
            {{progress-bar completion=completion}}
        {{/if}}
        <button {{action 'save'}} class="btn btn-primary" >{{saveText}}</button>
    </div>
{{/bootstrap-modal}}