{{#bootstrap-modal type="invite"}}
<div class="modal-header">
    <button type="button" {{action 'close'}} class="close" >×</button>
    <h4 class="modal-title">Invite Students and Parents</h4>
</div>
<div class="modal-body">
    <form action="#" class="form-horizontal ">
        <p>
            Invite your class to use the app by sending them an email here.
            We’ll include instructions how they can get started along with the join code.
            Or, if you prefer, just give them the join code in class.
        </p>
        <div class="form-group">

            <div class="col-sm-3">
                <strong>Choose Courses</strong>
                {{multiselect-checkboxes classNames="checkbox section" options=classes selection=selectedClasses labelProperty="course_name"}}
            </div>
            <div class="col-sm-4">
                <strong>Personalize the Email</strong>
                {{textarea value=message class="form-control section" placeholder="Make sure your class knows its you inviting them to use the app."}}
            </div>
            <div class="col-sm-5">
                <strong>Recipients</strong>
                {{textarea value=emailAddresses class="form-control section" placeholder="Don't worry, they won't see your email address or each other's."}}
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" {{action 'send'}} >Send Email</button>
</div>
{{/bootstrap-modal}}